<div class="row">
  <div class="col s12 fixed">
    <p> Still check this out</p>
  </div>
  <div class="col s12 header">
    <br>
    <h1>Check this out!</h1>
    <br>
  </div>
</div>
<div class="row" layout="row">
  <div class="col s2">
    <div class="inner">
      <ul>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
      </ul>
    </div>
  </div>
  <div class="col s10" id="content-wrapper">

  </div>
</div>
<div class="row">
  <div class="col s12 center-align">
    <p>This is a footer</p>
  </div>
</div>